#error {
  position: fixed;
  width: 100%;
  height: 100%;
}

#error, #error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error-content {
  font-family: 'Inconsolata', sans-serif;
  font-size: 41px;
  text-transform: uppercase;;
  width: 8em;
  height: 4em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
